<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.douzone.mapper.master">

    <select id="findAll" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
    </select>

    <update id="requestOK" parameterType="String">
        update owner
        set o_approval = 1,
            o_date     = now()
        where o_sNumber = #{o_sNumber}
    </update>
    <update id="requestNO" parameterType="String">
        update owner
        set o_approval = 2
        where o_sNumber = #{o_sNumber}
    </update>
    <select id="findByMaster" resultType="com.douzone.final_backend.DTO.MasterDTO">
        select *
        from master
        where m_id = #{id}
    </select>

    <select id="masterlogin" resultType="com.douzone.final_backend.Bean.MasterBean">
        select*
        from master
        where m_id = #{m_id}
          and m_pw = #{m_pw}
    </select>

    <select id="userAll" resultType="com.douzone.final_backend.Bean.UserBean">
        select*
        from user
    </select>


    <select id="findApproval" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 0
    </select>

    <select id="approvalCompletion" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 1
    </select>

    <select id="terminationWaiting" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 3
    </select>

    <update id="terminationOK" parameterType="String">
        update owner
        set o_approval = 1
        where o_sNumber = #{o_sNumber}
    </update>

    <select id="terminationCompletion" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 4
    </select>

    <update id="terminationCancle" parameterType="String">
        update owner
        set o_approval = 1
        where o_sNumber = #{o_sNumber}
    </update>


    <select id="getBanner" resultType="com.douzone.final_backend.DTO.BannerDTO">
    select * from banner
    </select>


</mapper>


