<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.douzone.mapper.master">

    <select id="findAll" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        order by o_approval in (0, 4) desc, o_approval
    </select>

    <update id="requestOK" parameterType="String">
        update owner
        set o_approval = 1,
            o_date     = now()
        where o_sNumber = #{o_sNumber}
    </update>
    <update id="requestNO" parameterType="String">
        update owner
        set o_approval = 2
        where o_sNumber = #{o_sNumber}
    </update>
    <select id="findByMaster" resultType="com.douzone.final_backend.DTO.MasterDTO">
        select *
        from master
        where m_id = #{id}
    </select>

    <select id="masterlogin" resultType="com.douzone.final_backend.Bean.MasterBean">
        select*
        from master
        where m_id = #{m_id}
          and m_pw = #{m_pw}
    </select>

    <select id="userAll" resultType="com.douzone.final_backend.Bean.UserBean">
        select*
        from user
        order by u_date desc
    </select>


    <select id="findApproval" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 0
    </select>

    <select id="approvalCompletion" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 1
    </select>

    <select id="terminationWaiting" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 3
    </select>

    <update id="terminationOK" parameterType="String">
        update owner
        set o_approval = 1,
            o_date     = now()
        where o_sNumber = #{o_sNumber}
    </update>

    <select id="terminationCompletion" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_approval = 4
    </select>

    <update id="terminationCancle" parameterType="String">
        update owner
        set o_approval = 1
        where o_sNumber = #{o_sNumber}
    </update>

    <select id="getBanner" resultType="com.douzone.final_backend.DTO.BannerDTO">
        select *
        from banner
    </select>

    <delete id="deleteBannerTable">
        delete
        from banner;
    </delete>

    <insert id="insertBannerTable" parameterType="com.douzone.final_backend.DTO.BannerDTO">
        insert into banner (src, altText, header, description, link)
        values (#{src}, #{altText}, #{header}, #{description}, #{link})
    </insert>

    <select id="masterMonth" resultType="com.douzone.final_backend.DTO.SaleDTO">
        <![CDATA[
        select aa.r as date, ifnull(bb.cnt1, 0) as sum, ifnull(bb.cnt2, 0) as tal
        from (with recursive c as (select 1 as r union all select r + 1 from c where r < 12) select r from c) as aa
                 left join (select month(o_date)                              as mon,
                                   count(case when o_approval = 1 then 1 end) as cnt1,
                                   count(case when o_approval = 4 then 1 end) as cnt2
                            from owner
                            where o_approval in (1, 4)
                              and year(o_date) = #{dal}
                            group by mon
                            order by mon) as bb
                           on aa.r = bb.mon;
        ]]>
    </select>

    <select id="masterYear" resultType="com.douzone.final_backend.DTO.SaleDTO">

        <!--        select aa.r as date, ifnull(bb.cnt1,0) as sum, ifnull(bb.cnt2,0) as tal-->
        <!--        from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{dal}) select r from c) as aa-->
        <!--                    left join (select  year(o_date) as year,count(case when o_approval = 1 then 1 end) as cnt1, count(case when o_approval =4 then 1 end) as cnt2-->
        <!--                               from owner-->
        <!--                               where o_approval in(1,4)-->
        <!--                               group by year order by year) as bb-->
        <!--                on aa.r = bb.year-->
        <![CDATA[
        select aa.r as date, ifnull(bb.cnt1,0) as sum, ifnull(bb.cnt2,0) as tal
        from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{nowYear}) select r from c) as aa
                    left join (select  year(o_date) as year,count(case when o_approval = 1 then 1 end) as cnt1, count(case when o_approval =4 then 1 end) as cnt2
                               from owner
                               where o_approval in(1,4)
                               group by year order by year) as bb
                on aa.r = bb.year
        ]]>
    </select>

    <select id="userMonth" resultType="com.douzone.final_backend.DTO.SaleDTO">
            <![CDATA[
        select aa.r as date, ifnull(bb.cnt1,0) as sum, ifnull(bb.cnt2,0) as tal
        from(with recursive c as (select 1 as r union all select r+1 from c where r<12) select r from c) as aa
                    left join (select  month(u_date) as mon,count(case when u_status = 0 then 1 end) as cnt1, count(case when u_status =1 then 1 end) as cnt2
                               from user
                               where u_status in(0,1)
                                 and year(u_date) = #{dal}
                               group by mon order by mon) as bb
                on aa.r = bb.mon;
        ]]>
    </select>

    <select id="userYear" resultType="com.douzone.final_backend.DTO.SaleDTO">
        <![CDATA[
        select aa.r as date, ifnull(bb.cnt1,0) as sum, ifnull(bb.cnt2,0) as tal
        from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{nowYear}) select r from c) as aa
                    left join (select  year(u_date) as year,count(case when u_status = 0 then 1 end) as cnt1, count(case when u_status =1 then 1 end) as cnt2
                               from user
                               where u_status in(0,1)
                               group by year order by year) as bb
                on aa.r = bb.year;
        ]]>
    </select>

    <select id="ownerUser" resultType="com.douzone.final_backend.DTO.SaleDTO">
        <![CDATA[
        select qq.date, qq.sum as sum, ww.sum as tal
        from
                (select aa.r as date, ifnull(bb.cnt1,0) as sum
                 from(with recursive c as (select 1 as r union all select r+1 from c where r<12) select r from c) as aa
                             left join (select  month(o_date) as mon,count(case when o_approval = 1 then 1 end) as cnt1
                                                from owner
                                                where o_approval = 1
                                                  and year(o_date) = #{dal}
                                                group by mon order by mon) as bb
                                                on aa.r = bb.mon) as qq
                        join
                        (select aa.r as date, ifnull(bb.cnt1,0) as sum
                         from(with recursive c as (select 1 as r union all select r+1 from c where r<12) select r from c) as aa
                                     left join (select  month(u_date) as mon,count(case when u_status = 0 then 1 end) as cnt1
                                                from user
                                                where u_status = 0
                                                  and year(u_date) = #{dal}
                                                group by mon order by mon) as bb
                                 on aa.r = bb.mon) as ww
                                on qq.date = ww.date
        ]]>
    </select>

    <select id="ownerUserYear" resultType="com.douzone.final_backend.DTO.SaleDTO">
        <![CDATA[
        select qq.date, qq.sum as sum, ww.sum as tal
        from
                #오너
                (select aa.r as date, ifnull(bb.cnt1,0) as sum
                 from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{nowYear}) select r from c) as aa
                             left join (select  year(o_date) as year,count(case when o_approval = 1 then 1 end) as cnt1
                        from owner
                        where o_approval = 1
                        group by year order by year) as bb
         on aa.r = bb.year) as qq
        join
        #유저
                (select aa.r as date, ifnull(bb.cnt1,0) as sum
                 from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{nowYear}) select r from c) as aa
                             left join (select  year(u_date) as year,count(case when u_status = 0 then 1 end) as cnt1
                                        from user
                                        where u_status = 0
                                        group by year order by year) as bb
                         on aa.r = bb.year) as ww
                on qq.date = ww.date
        ]]>
    </select>

    <select id="ownerUser2" resultType="com.douzone.final_backend.DTO.SaleDTO">
        <![CDATA[
        select qq.date, qq.sum as sum, ww.sum as tal
        from
                (select aa.r as date, ifnull(bb.cnt1,0) as sum
                 from(with recursive c as (select 1 as r union all select r+1 from c where r<12) select r from c) as aa
                                        left join (select  month(o_date) as mon,count(case when o_approval = 4 then 1 end) as cnt1
                                        from owner
                                        where o_approval = 4
                                          and year(o_date) = #{dal}
                                        group by mon order by mon) as bb
                         on aa.r = bb.mon) as qq
                        join
                        (select aa.r as date, ifnull(bb.cnt1,0) as sum
                                      from(with recursive c as (select 1 as r union all select r+1 from c where r<12) select r from c) as aa
                                     left join (select  month(u_date) as mon,count(case when u_status = 1 then 1 end) as cnt1
                                                from user
                                                where u_status = 1
                                                  and year(u_date) = #{dal}
                                                group by mon order by mon) as bb
                                 on aa.r = bb.mon) as ww
                                on qq.date = ww.date
        ]]>
    </select>

    <select id="ownerUserYear2" resultType="com.douzone.final_backend.DTO.SaleDTO">
        <![CDATA[
        select qq.date, qq.sum as sum, ww.sum as tal
        from
                #오너
                (select aa.r as date, ifnull(bb.cnt1,0) as sum
                                 from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{nowYear}) select r from c) as aa
                                 left join (select  year(o_date) as year,count(case when o_approval = 4 then 1 end) as cnt1
                                                from owner
                                                where o_approval = 4
                                                group by year order by year) as bb
                                 on aa.r = bb.year) as qq
                        join
                        #유저
                                (select aa.r as date, ifnull(bb.cnt1,0) as sum
                                 from(with recursive c as (select 2019 as r union all select r+1 from c where r < #{nowYear}) select r from c) as aa
                                             left join (select  year(u_date) as year,count(case when u_status = 1 then 1 end) as cnt1
                                                        from user
                                                        where u_status = 1
                                                        group by year order by year) as bb
                                         on aa.r = bb.year) as ww
                                on qq.date = ww.date
        ]]>
    </select>

</mapper>


