<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.douzone.mapper.owner">
    <select id="findBySNum" resultType="com.douzone.final_backend.Owner.OwnerBean">
        select *
        from owner
        where o_sNumber = #{o_sNumber}
    </select>

    <select id="existsBySNum" resultType="boolean">
        select count(*)
        from owner
        where o_sNumber = #{o_sNumber}
    </select>

    <insert id="insertOwner" parameterType="com.douzone.final_backend.Owner.OwnerBean">
        insert into owner(o_sNumber, o_pw, o_phone, o_name, o_cellPhone, o_address, o_date, o_time, o_image)
        values (#{o_sNumber}, #{o_pw}, #{o_phone}, #{o_name}, #{o_cellPhone}, #{o_address}, #{o_date}, #{o_time},
                #{o_image})
    </insert>
    <select id="findByOwner" resultType="com.douzone.final_backend.Owner.OwnerDTO">
        select *
        from owner
        where o_sNumber = #{id}
    </select>

    <insert id="addGoods" parameterType="com.douzone.final_backend.Goods.GoodsBean">
        insert into goods(g_owner, g_name, g_price, g_discount, g_detail, g_image, g_expireDate, g_category)
        values (#{g_owner}, #{g_name}, #{g_price}, #{g_discount}, #{g_detail}, #{g_image}, #{g_expireDate},
                #{g_category})

    </insert>

    <select id="goodsList" resultType="com.douzone.final_backend.Goods.GoodsBean">
        select *
        from goods
        where g_owner = #{o_sNumber}
    </select>

    <!--  예약 승인  -->
    <update id="resOkCount" parameterType="com.douzone.final_backend.Reserve.ReserveDTO">
        update goods
        set g_count = g_owner - #{r_count}
        where g_count = #{r_code}
    </update>
    <update id="resOK" parameterType="com.douzone.final_backend.Reserve.ReserveDTO">
        update reserve
        set r_status = 1
        where r_code = #{r_code}
    </update>

    <!-- 예약 거절 -->
    <update id="resNoCount" parameterType="com.douzone.final_backend.Reserve.ReserveDTO">
        update
    </update>
</mapper>