<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.douzone.mapper.user">

    <!-- test -->
    <select id="selectUserAll" resultType="com.douzone.final_backend.Bean.UserBean">
        select *
        from user
    </select>

    <!--  회원 가입 시 아이디 존재 여부 확인  -->
    <select id="existsById" resultType="boolean">
        select count(*)
        from user
        where u_id = #{u_id}
    </select>

    <!--  회원 가입   -->
    <insert id="insertUser" parameterType="com.douzone.final_backend.Bean.UserBean">
        insert into user(u_id, u_pw, u_cellPhone, u_email, u_gender, u_age)
        values (#{u_id}, #{u_pw}, #{u_cellPhone}, #{u_email}, #{u_gender}, #{u_age})
    </insert>
    <!-- 아이디에 해당하는 user 정보 출력. 로그인 시 사용-->
    <select id="findByUId" resultType="com.douzone.final_backend.Bean.UserBean">
        select *
        from user
        where u_id = #{u_id}
          and u_status = 0;
    </select>

    <!-- 해당 가게 클릭시 판매중인 상품 리스트 보기-->
    <select id="storeGoodsView" resultType="com.douzone.final_backend.Bean.GoodsBean">
        select *
        from goods
        where g_owner = #{o_sNumber}
          and g_status = 0
    </select>

    <!-- 해당 가게의 상세 정보 user 용  -->
    <select id="storeView" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_sNumber = #{o_sNumber}
    </select>

    <select id="favorView" resultType="boolean">
        select count(*)
        from favorites
        where f_o_sNumber = #{f_o_sNumber}
          and f_p_user_id = #{f_p_user_id}
    </select>

    <insert id="addFavor" parameterType="com.douzone.final_backend.DTO.FavoritesDTO">
        insert into favorites(f_o_sNumber, f_p_user_id)
            value (#{f_o_sNumber}, #{f_p_user_id})
    </insert>

    <delete id="favorOff" parameterType="com.douzone.final_backend.DTO.FavoritesDTO">
        delete
        from favorites
        where f_o_sNumber = #{f_o_sNumber}
          and f_p_user_id = #{f_p_user_id}
    </delete>

    <select id="userData" resultType="com.douzone.final_backend.Bean.UserBean">
        select *
        from user
        where u_id = #{u_id}
    </select>

    <select id="userSave" resultType="int">
        select count(*)
        from reserve
        where r_status = 3
          and r_u_id = #{u_id}
    </select>

    <select id="userReserve" resultType="int">
        select count(*)
        from reserve
        where r_status = 1
          and r_u_id = #{u_id}
    </select>
</mapper>