<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.douzone.mapper.user">

    <select id="selectUserAll" resultType="com.douzone.final_backend.Bean.UserBean">
        select *
        from user
    </select>

    <select id="existsById" resultType="boolean">
        select count(*)
        from user
        where u_id = #{u_id}
    </select>

    <select id="findByIdAndPassword" resultType="com.douzone.final_backend.Bean.UserBean">
        select *
        from user
        where u_id = #{u_id}
          and u_pw = #{u_pw}
    </select>

    <insert id="insertUser" parameterType="com.douzone.final_backend.Bean.UserBean">
        insert into user(u_id, u_pw, u_cellPhone, u_email, u_gender, u_age)
        values (#{u_id}, #{u_pw}, #{u_cellPhone}, #{u_email}, #{u_gender}, #{u_age})
    </insert>

    <select id="findByUId" resultType="com.douzone.final_backend.Bean.UserBean">
        select *
        from user
        where u_id = #{u_id};
    </select>

    <select id="findByUIdDTO" resultType="com.douzone.final_backend.DTO.UserDTO">
        select *
        from user
        where u_id = #{id}
    </select>

    <select id="shopView" resultType="com.douzone.final_backend.Bean.GoodsBean">
        select *
        from goods
        where g_owner = #{o_sNumber}
          and g_status = 0
    </select>

    <select id="storeView" resultType="com.douzone.final_backend.Bean.OwnerBean">
        select *
        from owner
        where o_sNumber = #{o_sNumber}
    </select>
</mapper>